<nav>
    <div class="site-title">
        <a href="/">Blog 21</a>
        <p>21'st blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About 21</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
 </nav>