<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>

        <%- include('./partials/nav') %>

     <div class="about-part">
         <h1>About 21</h1>
         <p>I'm a sick fc</p>
         <p>I like a quiсk fc</p>
         <p>U</p>
     </div>
        </body>
        
        <%- include('./partials/footer') %>
        
</html>